<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<fragment th:fragment="footer" th:remove="tag">
    <footer class="footer">
        <div class="container text-center">
            <a class="btn btn-link" href="/imprint.html" target="_self" th:href="#{imprint_path}"
               th:utext="#{imprint_link_text}">Imprint</a>
            <a class="btn btn-link" href="/privacy.html" target="_self" th:href="#{gdpr_path}"
               th:utext="#{privacy_and_cookies_link_text}">Privacy and cookies</a>
        </div>
    </footer>
    <script src="js/all.js" type="application/javascript"></script>
    <script th:replace="fragments/cookieConsent :: cookieConsent"></script>
</fragment>
</html>