<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<fragment th:fragment="head" th:remove="tag">
    <link href="icon.ico" rel="icon" sizes="56x56" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/aos.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/cookieConsent.css" rel="stylesheet">
    <noscript>
        <style type="text/css">
            [data-aos] {
                opacity: 1 !important;
                transform: translate(0) scale(1) !important;
            }
        </style>
    </noscript>
    <script src="js/cookieConsentMain.js"></script>
    <script src="js/cookieConsent.js"></script>
</fragment>
</html>