.hg-full-height {
    height: 100%;
}

.hg-visibility-gone {
    display: none !important;
}

.page-header.hg-page-header-very-small {
    min-height: 100px;
    max-height: 200px;
}

p.hg-skills-used {
    color: #888;
    font-style: italic;
}