<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="noindex" name="robots">
    <script th:replace="fragments/head :: head"></script>
</head>
<body>
<header th:replace="fragments/head :: simpleHeader"></header>
<div class="page-content">
    <div th:replace="fragments/content :: simpleContentHeader(#{privacy_and_cookies_title})"></div>
    <div class="section" id="gdpr">
        <div class="container">
            <div class="card aos-init aos-animate" data-aos="fade-up" data-aos-offset="10">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="card-body">
                            <p>Here comes the pain... <a href="javascript:revokeConsent()"
                                                         th:text="#{cookie_consent_revoke_text}">Revoke cookie
                                decision</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>