<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="keywords" th:content="${cvWebsiteDTO.meta.keywords}">
    <meta content="" name="description" th:content="${cvWebsiteDTO.meta.description}">
    <meta content="" property="og:site_name" th:content="${cvWebsiteDTO.meta.openGraph.name}">
    <meta content="" property="og:url" th:content="${cvWebsiteDTO.meta.openGraph.url}">
    <meta content="" property="og:type" th:content="${cvWebsiteDTO.meta.openGraph.type}">
    <meta content="" property="og:title" th:content="${cvWebsiteDTO.meta.openGraph.title}">
    <script th:replace="fragments/head :: head"></script>
</head>

<body id="top">
<header>
    <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
            <div class="container">
                <div class="navbar-translate"><a class="navbar-brand" href="#" rel="tooltip"
                                                 th:text="${cvWebsiteDTO.cv.firstName} + '&nbsp;' + ${cvWebsiteDTO.cv.lastName}">Name</a>
                    <button aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"
                            class="navbar-toggler navbar-toggler"
                            data-target="#navigation" data-toggle="collapse" type="button"><span
                            class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span
                            class="navbar-toggler-bar bar3"></span></button>
                </div>
                <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    <ul class="navbar-nav">
                        <th:block th:each="section : ${cvWebsiteDTO.cv.sections}">
                            <li class="nav-item"><a class="nav-link smooth-scroll" href="#section"
                                                    th:href="'#' + ${cvWebsiteDTO.sectionIds[section.title]}"
                                                    th:text="${section.title}">Section</a></li>
                        </th:block>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<div class="page-content">
    <div class="profile-page">
        <div class="wrapper">
            <div class="page-header page-header-small">
                <div class="page-header-image" data-parallax="true">
                    <div class="bg-primary hg-full-height"></div>
                </div>
                <div class="container">
                    <div class="content-center">
                        <div class="cc-profile-image"><a href="#"><img alt="Image"
                                                                       th:src="${cvWebsiteDTO.cvProfilePicture}"/></a>
                        </div>
                        <div class="h2 title"
                             th:text="${cvWebsiteDTO.cv.firstName} + '&nbsp;' + ${cvWebsiteDTO.cv.lastName}">Name
                        </div>
                        <p class="category text-white" th:text="${cvWebsiteDTO.cv.jobTitle}">Job Description</p><a
                            class="btn btn-primary smooth-scroll mr-2" data-aos="zoom-in"
                            data-aos-anchor="data-aos-anchor" href=""
                            th:href="'#' + ${cvWebsiteDTO.contact.target.id}" th:text="#{hire_me}">Hire Me</a>
                        <a class="btn btn-primary" data-aos="zoom-in" data-aos-anchor="data-aos-anchor"
                           href="pdfDownload"
                           target="_blank" th:text="#{request_cv}">Request CV</a>
                    </div>
                </div>
                <div class="section">
                    <div class="container">
                        <div class="button-container">
                            <th:block th:each="contact : ${cvWebsiteDTO.cv.contact}">
                                <a class="btn btn-default btn-round btn-lg btn-icon"
                                   href="" rel="tooltip" target="_blank" th:href="${contact.href}"
                                   th:title="${contact.text}" title="">
                                    <i class="fa" th:class="'fa ' + ${contact.icon.toLowerCase()}"></i></a>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:each="section : ${cvWebsiteDTO.formattedSections}">
        <div th:remove="tag" th:utext="${section}"></div>
    </th:block>
</div>
<footer class="footer">
    <div class="container text-center">
        <a class="btn btn-link" href="/imprint.html" target="_self" th:href="#{imprint_path}"
           th:text="#{imprint_link_text}">Imprint</a>
        <a class="btn btn-link" href="/privacy.html" target="_self" th:href="#{gdpr_path}"
           th:text="#{privacy_and_cookies_link_text}">Privacy and cookies</a>
    </div>
</footer>
<script src="js/core/jquery.3.2.1.min.js"></script>
<script src="js/core/popper.min.js"></script>
<script src="js/core/bootstrap.min.js"></script>
<script src="js/now-ui-kit.js"></script>
<script src="js/aos.js"></script>
<script src="scripts/main.js"></script>
</body>

</html>