<!DOCTYPE html>
<html th:lang="${language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="keywords" th:content="${#strings.listJoin(cvWebsiteDTO.meta.keywords, ', ')}">
    <meta content="" name="description" th:content="${cvWebsiteDTO.meta.description}">
    <meta content="" property="og:site_name" th:content="${cvWebsiteDTO.meta.openGraph.name}">
    <meta content="" property="og:url" th:content="${cvWebsiteDTO.meta.openGraph.url}">
    <meta content="" property="og:type" th:content="${cvWebsiteDTO.meta.openGraph.type}">
    <meta content="" property="og:title" th:content="${cvWebsiteDTO.meta.openGraph.title}">
    <meta content="telephone=no" name="format-detection">
    <title th:utext="${cvWebsiteDTO.meta.title}">Title</title>
    <script th:replace="fragments/head :: head"></script>
</head>

<body id="top">
<header>
    <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
            <div class="container">
                <div class="navbar-translate"><a class="navbar-brand" href="#" rel="tooltip"
                                                 th:utext="${cvWebsiteDTO.cv.firstName} + '&nbsp;' + ${cvWebsiteDTO.cv.lastName}">Name</a>
                    <button aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"
                            class="navbar-toggler navbar-toggler"
                            data-target="#navigation" data-toggle="collapse" type="button"><span
                            class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span
                            class="navbar-toggler-bar bar3"></span></button>
                </div>
                <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    <ul class="navbar-nav">
                        <th:block th:each="section : ${cvWebsiteDTO.cv.sections}">
                            <li class="nav-item"><a class="nav-link smooth-scroll" href="#section"
                                                    th:href="'#' + ${cvWebsiteDTO.sectionIds[section.title]}"
                                                    th:utext="${section.title}">Section</a></li>
                        </th:block>
                        <li class="nav-item"><a id="lang-toggle" class="nav-link smooth-scroll" th:href="${toggleLanguage.toggleValue}" th:utext="${toggleLanguage.localizedName}">Language</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<div class="page-content">
    <div class="profile-page">
        <div class="wrapper">
            <div class="page-header page-header-small">
                <div class="page-header-image" data-parallax="true">
                    <div class="bg-primary hg-full-height"></div>
                </div>
                <div class="container">
                    <div class="content-center">
                        <div class="cc-profile-image">
                            <a href="#"><img alt="Image" th:src="${cvWebsiteDTO.cvProfilePicture}"/></a>
                        </div>
                        <h1 class="h2 title"
                            th:utext="${cvWebsiteDTO.cv.firstName} + '&nbsp;' + ${cvWebsiteDTO.cv.lastName}">Name
                        </h1>
                        <p class="category text-white" th:utext="${cvWebsiteDTO.cv.jobTitle}">Job Description</p><a
                            class="btn btn-primary smooth-scroll mr-2" data-aos="zoom-in"
                            data-aos-anchor="data-aos-anchor" href=""
                            th:href="'#' + ${cvWebsiteDTO.contact.target.id}" th:if="${cvWebsiteDTO.getContact().getShowContact()}"
                            th:utext="#{hire_me}">Hire Me</a>
                        <a class="btn btn-primary" data-aos="zoom-in" data-aos-anchor="data-aos-anchor"
                           href="/profile"
                           target="_blank" th:utext="#{request_cv}">Request CV</a>
                    </div>
                </div>
                <div class="section">
                    <div class="container">
                        <div class="button-container">
                            <th:block th:each="contact : ${cvWebsiteDTO.cv.contact}">
                                <a class="btn btn-default btn-round btn-lg btn-icon"
                                   href="" rel="tooltip" target="_blank" th:href="${contact.href}"
                                   th:title="${contact.text}" title="">
                                    <i class="fa" th:class="'fa ' + ${contact.icon.toLowerCase()}"></i></a>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:each="section : ${cvWebsiteDTO.formattedSections}">
        <div th:remove="tag" th:utext="${section}"></div>
    </th:block>
    <div class="section" id="contact-form" th:if="${cvWebsiteDTO.getContact().getShowContact()}">
        <div class="container">
            <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <div class="card-body">
                    <form action="#" id="contact-form-group" method="POST" th:action="@{/}">
                        <input id="contact-id" name="contact" th:value="${cvWebsiteDTO.contact.id}" type="hidden">
                        <th:block th:each="input : ${cvWebsiteDTO.contact.input}">
                            <div class="form-group col-md-12">
                                <label class="col-form-label" th:for="${input.id}" th:if="${input.label != null}"
                                       th:utext="${input.label}">Title</label>
                                <textarea class="form-control" th:id="${input.id}" th:if="${input.type == 'textarea'}"
                                          th:maxlength="${input.maxLength}" th:name="${input.name}"
                                          th:placeholder="${input.placeholder}"
                                          th:required="${input.required} ?: 'false'" th:type="${input.type}"></textarea>
                                <input class="form-control" th:id="${input.id}" th:maxlength="${input.maxLength}"
                                       th:name="${input.name}" th:placeholder="${input.placeholder}"
                                       th:required="${input.required} ?: 'false'" th:type="${input.type}"
                                       th:unless="${input.type == 'textarea'}">
                            </div>
                        </th:block>
                        <div class="col-md-6">
                            <button class="btn btn-primary pad" id="contact-submit-button"
                                    th:title="${cvWebsiteDTO.contact.submit}" th:utext="${cvWebsiteDTO.contact.submit}"
                                    type="submit">Send
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>

</html>